
/* setting the margins for mobile screen */
[class*='container'] {
    padding: 0px 20px;
}

:root {
    --bg-color: #FFF8F0;
    --primary-color: #3c3b3a;
    --accent-color: #D94B29;
}

*,
*:before,
*:after
    {
    box-sizing: border-box;
    /* margin: 0px;
    padding: 0px; */
}

/* Setting the footer to the bottom of the page */

html, body {
    height: 100%;
    background-color: var(--bg-color);
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  footer {
      flex-shrink: 0;
  }



body {
font-family: 'Montserrat', sans-serif;
color: var(--primary-color);
}


h1,
h2,
h3,
h5 {
    font-family: 'Krona One', sans-serif; 
}

/* Creating the basic button style */
    button {
    margin: 10px;
    width: 150px;
    height: 45px;
    border: none;
    appearance: none;
    background: var(--accent-color);
    color: white;
    padding: 4px;
    border-radius: 60px;
    font-family: inherit;
    font-size: 18px;

}

a.button {
    margin: 10px;
    width: 150px;
    height: 45px;
    border: none;
    appearance: none;
    background: var(--accent-color);
    color: white;
    padding: 4px;
    padding-top: 10px;
    border-radius: 60px;
    font-family: inherit;
    font-size: 18px;
    text-decoration: none;
    text-align: center;

}



/* This animation makes elements appear */
@keyframes appear2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ------- Header -------- */

.logo {
    width: 100px;
}

header a {
    text-decoration: none;
    padding: 0px 20px ;
    color: var(--primary-color);
}

header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .box {
    display: flex;
    padding: 10px 1px;
}

/* adding nav link animation */
.box a::after{
    content: '';
    position: relative;
    display: block;
    height: 4px;
    width: 0%;
    background-color: var(--accent-color);
    bottom: -4px;  
    transition: all ease-in-out 300ms;
}

header a:hover {
    color: var(--accent-color);
}

header a:hover::after {
    width: 100%;
}
/* ------ Footer -------- */

footer {
    margin-top: 40px;
}

/* =================== LANDING PAGE ===================== */

.landing-container h5 {

    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}

.landing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 470px) {

    .landing-container h5 {
        padding-top: 80px;
    }
}

 
@media only screen and (min-width: 768px) {

    /* setting the margins for the tablet screen size */
    [class*='container'] {
        padding: 0px 80px;
    }

    .landing-container h5 {
        padding-top: 80px;
    }
}



@media only screen and (min-width: 1200px) {

    /* setting the margins for the desktop screen size */
    [class*='container'] {
        padding: 0px 170px;
    }


    /* bringing the landing page content lower */
    .landing-container h5 {
        padding-top: 100px;
    }
}




/* ==================== CONTACT PAGE ==================== */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.contact-container h1 {
    padding-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input {
    padding: 10px 5px;
    margin: 10px 0px;
    font-family: inherit;
}

.tablet-input {
    display: flex;
    flex-direction: column;
}

input#message.message-box {
    padding-bottom: 90px;
}

.contact-form button {
    margin: 10px auto;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.footer-icons {
    width: 75px;
    display: flex;
    justify-content: space-between;
}

.footer-icons i {
    font-size: 20px;
}


@media only screen and (min-width: 768px) {

    [class*='container'] {
        padding: 0px 80px;
    }

/* adding name and email input side by side */
    .tablet-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .tablet-input input {
        flex-grow: 1;
    }

    input#email {
        margin-left: 20px;

    }

}

@media only screen and (min-width: 1200px) {

    [class*='container'] {
        padding: 0px 170px;
    }

    .contact-container {
        padding-top: 50px;
    }

    /* making sure the contact form doesnt stretch too much */
    .contact-form {
        max-width: 1000px;
        margin: auto;
    }
}

@media only screen and (min-width: 1200px) {

    [class*='container'] {
        padding: 0px 170px;
    }


}

/* ====================== ABOUT ====================== */

/* This animation drops and appears */
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.about-content h4 {
    color: var(--accent-color);
}

.about-content h5 {
    padding: 0px;
    margin: 10px;
}

.about-container img{
    width: 400px;
    margin: 15px;
    animation: appear 1.5s ease;
}

.about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.hi-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* stretching the content to meet margins */
.skills-content {
    width: 100%;
}
/* adding more space to seperate titles */
.skills-content p {
    line-height: 2;
}



/* Stacking the about info in a column */
.skills-content, .edu-content, .personal-content {

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 768px) {

    [class*='container'] {
        padding: 0px 80px;
    }

    .about-content h4 {
        font-size: 25px;
    }

}


@media only screen and (min-width: 1200px) {

    [class*='container'] {
        padding: 0px 170px;
    }

    .about-container h1 {
        padding-bottom: 15px;
    }

    .about-container {
        padding-top: 50px;
    }
    /* placing h1 and text next to image */
    .about-box {
        display: flex;
        flex-direction: row;
        padding-bottom: 50px;
    }

    .about-box h2 {
        font-size: 36px;
    }

    .hi-box {
        align-items: flex-start;
        padding-right: 30px;
        max-width: 480px;
    }

    /* displaying information in a row */
    .skills-content, .edu-content, .personal-content {

        display: flex;
        flex-direction: row;
       align-items: flex-start;
       justify-content: center;
    }

    /* making a grid to set information side by side */
    .skills-content,
    .edu-content,
    .personal-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 35px 0px;
    }

    .about-content h4 {
        margin: 15px;
        font-size: 25px;
        
    }

    .about-content p{
        grid-column: 3/7;

    }

}

/* ================== WORK ======================= */

h1 {
    text-align: center;
}

.work-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

.work-box-1 {
    margin: 20px;
    background-image: url(images/vampironica.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    animation: appear2 2s ease;
    
}

.work-box-2 {
    margin: 20px;
    background-image: url(images/robocat.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    animation: appear2 2s ease;
}

.work-box-3 {
    margin: 20px;
    background-image: url(images/loading-mockup-white.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    animation: appear2 2s ease;
}

.work-box-4 {
    margin: 20px;
    background-image: url(images/icons-itunes.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    animation: appear2 2s ease;
}

@media only screen and (min-width: 768px) {

    [class*='container'] {
        padding: 0px 80px;
    }

    .work-box {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;

    }

    .work-box-1 {
        grid-column: 1/3;
        place-self: center;
    }

    .work-box-2 {
        grid-column: 3/5;
        place-self: center;
    }

    .work-box-3 {
        grid-column: 1/3;
        grid-row: 2/3;
        place-self: center;
    }

    .work-box-4 {
        grid-column: 3/5;
        grid-row: 2/3;
        place-self: center;
    }

}

@media only screen and (min-width: 1200px) {

    [class*='container'] {
        padding: 0px 170px;
    }


}