
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7ff;

}

header img {
    width: 118px;
    height: 118px;
}

header,
main,
footer {

    width: auto;
    padding: 0 139px;

}
h1 {
    margin: 0px;
}
h2 {
   padding: 0px;
}

main h1 {
    font-size: 56px;
    font-weight: bold;
}

h1,
h2,
h3,
p {
    color: #333131;
}


main {
    height:542px;
    background-image: url(../images/bg-image/scooter-copy.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
}

p {
    grid-column: 1/2;
    grid-row: 2/3
}

.container{
    grid-column: 3/4;
    grid-row: 1/3
}
    
.container {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    border-radius: 20px;
    padding: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
main .container > * {
    margin: 5px 0px;
}
.container input {
    border: none;
    appearance: none;
    background: #f4f4f5;
    padding: 12px;
    border-radius: 6px;
}

.container button {
    border: none;
    appearance: none;
    background: #57eeab;
    color: #333131;
    padding: 6px;
    border-radius: 6px;
    font-family: inherit;
    font-size: 23px;
    font-weight: bold;
}
.container label {
    font-size: 13px;
    padding: 0 5px;

}
input::placeholder {
    font-family: montserrat;

}

main .g {
    display: flex;
    flex-direction: row;
}
/* adding space between both p's */
.p1 {
    margin-right: 4px;
}

.p2 {
    color: #ff8480;
}

.p1, 
.p2 {
    margin-top: 0;
    margin-bottom: 0;
}


main .g p {
    font-size: 11px;
    padding-top: 0;
}

main .e {
    display: flex;
}

main .e input {
    order: -111;
}

footer {
    background-color: #fffd8c;
    height: 181px;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

footer form {
    display: flex;
}

footer input {
    border: none;
    appearance: none;
    background: #f4f4f5;
    padding: 12px;
    border-radius: 6px;
    margin-right: 8px;
}

footer button {
    width: 220px;
    border: none;
    appearance: none;
    background: #ff8480;
    color: white;
    padding: 6px;
    border-radius: 6px;
    font-family: inherit;
    font-size: 23px;
    font-weight: bold;
}

.aa {
    width: 121px;
}

.bb {
    width: 259px;
}

.social {
    width: 259px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {

p.4 {
    display: none;
}    

header,
main,
footer {
padding-right: 50px;
padding-left: 50px;
}

main {
    height: 65%;
    display: flex;
    flex-direction: column;
    background-size: 300px 300px;
    background-position: 50% 34%;
    padding-top: 25px;
}

.container {
    margin-top: 200px;
}

footer {
    height: 20%;
    display: flex;
    flex-direction: column;
}

} 

@media screen and (max-width: 375px) {

    /* hiding text */
.p3 {
    display: none;
}


main p {
    font-size: 17px;
}

main {
    background-position: 50% 44%;
}

header,
main,
footer {
    padding-right: 25px;
    padding-left: 25px;
   
}

.container {
    padding: 20px;
    margin-top: 250px;
}

.g {
    flex-wrap: wrap;
}

/* aligning label to checkbox */
.container label {
    padding-top: 6px;
}

footer {
    margin-top: 50px;
    height: 300px;
    padding-bottom: 25px;
}
/* placing button bellow input boxes */
footer form {
    flex-wrap: wrap;
}

.aa {
    width: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.bb {
    flex-grow: 1;
    width: 160px;
    margin-bottom: 10px;
    margin-right: 0px;
}

footer button {
    width: 100%;
}

.social {
    display: none;
}

.social-2 {
    display: flex;
    justify-content: space-around;
}

.social-2 > * {
    color: #333131 ;
    font-size: 40px;
}







}

