

[class*='container'] {
    padding: 0px 20px;
}

:root {
    --bg-color: #f2f2f2;
    --primary-color: #3c3b3a;
    --accent-color: #e7673c;
}

*,
*:before,
*:after
    {
    box-sizing: border-box;
    /* margin: 0px;
    padding: 0px; */
}

/* Setting the footer to the bottom of the page */

html, body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  footer {
      flex-shrink: 0;
  }



body {
font-family: 'Montserrat', sans-serif;
color: var(--primary-color);
}


h1,
h2,
h3 {
    font-family: 'Krona One', sans-serif; 
}
/* Creating the basic button style */
button {
    margin: 10px;
    width: 150px;
    height: 45px;
    border: none;
    appearance: none;
    background: var(--accent-color);
    color: white;
    padding: 4px;
    border-radius: 60px;
    font-family: inherit;
    font-size: 18px;

}

.logo {
    width: 100px;
}

header a {
    text-decoration: none;
    padding: 0px 20px ;
    color: var(--primary-color);
}

header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .box {
    display: flex;
    padding: 10px 1px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.contact-container h1 {
    padding-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form input {
    padding: 10px 5px;
    margin: 10px 0px;
}

input#message.message-box {
    padding-bottom: 90px;
}

.contact-form button {
    margin: 10px auto;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

