

[class*='container'] {
    padding: 0px 20px;
}

:root {
    --bg-color: #f2f2f2;
    --primary-color: #3c3b3a;
    --accent-color: #e7673c;
}

*,
*:before,
*:after
    {
    box-sizing: border-box;
    /* margin: 0px;
    padding: 0px; */
}

/* Setting the footer to the bottom of the page */

html, body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  footer {
      flex-shrink: 0;
  }



body {
font-family: 'Montserrat', sans-serif;
color: var(--primary-color);
}


h1,
h2,
h3 {
    font-family: 'Krona One', sans-serif; 
}

/* Creating the basic button style */
button {
    margin: 10px;
    width: 150px;
    height: 45px;
    border: none;
    appearance: none;
    background: var(--accent-color);
    color: white;
    padding: 4px;
    border-radius: 60px;
    font-family: inherit;
    font-size: 18px;

}

/* ------- Header -------- */

.logo {
    width: 100px;
}

header a {
    text-decoration: none;
    padding: 0px 20px ;
    color: var(--primary-color);
}

header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .box {
    display: flex;
    padding: 10px 1px;
}
/* ==================== CONTACT PAGE ==================== */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.contact-container h1 {
    padding-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input {
    padding: 10px 5px;
    margin: 10px 0px;
    font-family: inherit;
}

.tablet-input {
    display: flex;
    flex-direction: column;
}

input#message.message-box {
    padding-bottom: 90px;
}

.contact-form button {
    margin: 10px auto;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.footer-icons {
    width: 75px;
    display: flex;
    justify-content: space-between;
}

.footer-icons i {
    font-size: 20px;
}


@media only screen and (min-width: 768px) {

    [class*='container'] {
        padding: 0px 80px;
    }

/* adding name and email input side by side */
    .tablet-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .tablet-input input {
        flex-grow: 1;
    }

    input#email {
        margin-left: 20px;

    }

}

@media only screen and (min-width: 1200px) {

    [class*='container'] {
        padding: 0px 170px;
    }

    .contact-container {
        padding-top: 50px;
    }


}

/* adding nav link animation */
header a::after{
    content: '';
    position: relative;
    display: block;
    height: 4px;
    width: 0%;
    background-color: var(--accent-color);
    bottom: -4px;  
    transition: all ease-in-out 300ms;
}

header a:hover {
    color: var(--accent-color);
}

header a:hover::after {
    width: 100%;
}

/* ====================== ABOUT ====================== */

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.about-content h4 {
    color: var(--accent-color);
}

.about-content h5 {
    padding: 0px;
    margin: 10px;
}
.about-container img{
    width: 400px;
    margin: 15px;
    animation: appear 1.5s ease;

}

.about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.hi-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Stacking the about info in a column */
.skills-content, .edu-content, .personal-content {

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 768px) {

    [class*='container'] {
        padding: 0px 80px;
    }

    .about-content h4 {
        font-size: 25px;
    }

}


@media only screen and (min-width: 1200px) {

    [class*='container'] {
        padding: 0px 170px;
    }

    .about-container h1 {
        padding-bottom: 15px;
    }

    .about-container {
        padding-top: 50px;
    }
    /* placing h1 and text next to image */
    .about-box {
        display: flex;
        flex-direction: row;
        padding-bottom: 50px;
    }

    .about-box h2 {
        font-size: 36px;
    }

    .hi-box {
        align-items: flex-start;
        padding-right: 30px;
        max-width: 480px;
    }

    /* displaying information in a row */
    .skills-content, .edu-content, .personal-content {

        display: flex;
        flex-direction: row;
       align-items: flex-start;
       justify-content: center;
    }

    .skills-content,
    .edu-content,
    .personal-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 35px 0px;
    }

    .about-content h4 {
        margin: 15px;
        font-size: 25px;
        
    }

    .about-content p{
        grid-column: 3/7;

    }

}

/* ================== WORK ======================= */

.work-box {
    display: flex;
    flex-direction: column;
}

.work-box-1 {
    background-image: url(/images/robocat-crop.jpg);
    background-size: cover;
    background-position: center;
}