* {
    box-sizing: border-box;
    /* margin: 0px;
    padding: 0px; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    margin: 10px 0 10px 0;
}

p {
    line-height: 35px;
    font-size: 16px;
    font-weight: 200;
}

button {
    margin: 10px;
    width: 300px;
    height: 50px;
    border: none;
    appearance: none;
    background: var(--accent-color);
    color: var(--bg-color);
    padding: 6px;
    border-radius: 60px;
    font-family: inherit;
    font-size: 32px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

:root {
    --bg-color: #f2f2f2;
    --primary-color: #3c3b3a;
    --accent-color: #26a682;
}

[class*='container'] {
    padding: 35px;
}

body {
    font-family: 'Raleway', sans-serif;

}
section {
    background-color: var(--bg-color);
}

/* ----------------------- NAV ------------------------------ */

header {
    padding: 0 35px 0 35px;
    background-color: var(--primary-color);
    height: 224px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a {
    color: var(--bg-color);
    text-decoration: none;
    transition: all ease-in-out 300ms;
}
/* adding nav link animation */
header a::after{
    content: '';
    position: relative;
    display: block;
    height: 4px;
    width: 0%;
    background-color: var(--accent-color);
    bottom: -4px;  
    transition: all ease-in-out 300ms;
}

header a:hover {
    color: var(--accent-color);
}

header a:hover::after {
    width: 100%;
}
.nav-container {
    height: 224px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img {
    height: 90px;
}

.nav-home {
    font-weight: 600;
}

.nav-contact {
    font-weight: 400;
}

.nav-about {
    font-weight: 400;
}

/* creating vertical nav */
nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

nav a {
    font-weight: 300;
}

/* ------------------ Hero Banner ---------------------------- */


.hero-container p {
    font-size: 20px;
}

.hero-content h1 {
    font-size: 40px;

}

.hero-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.get-started {
    margin: 30px 0 30px 0;
    width: 273px;
    justify-self: center;
    align-self: center;
    font-size: 32px;

}

/* plaving activity icons in 2/2 grid */
.activities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-between;
    grid-column-gap: 10px;
}

.bowling,
.fitness,
.rock,
.indoor-court {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
}

.activities i {
    font-size: 40px;
    color: var(--primary-color);
}

.activities h3 {
    color: var(--accent-color);
    font-weight: 400;
}

.discover-img {
    height: 186px;
    animation: appear 1.5s ease;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.discover-img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----------------------------------------------------- */

.school-img {
    height: 200px;
    background-image: url(../images/school.jpg);
    background-size: cover;
    background-position: center;
}

.learn-more {
    font-size: 20px;
    width: 146px;
    height: 45px;
    align-self: flex-end;
}

.ac-content {
    display: flex;
    flex-direction: column;

}

/* ----------------------------------------------------- */
.sa-container {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-content: center;

}

.sa-container p,
h5 {
    color: var(--bg-color);
}

.sa-container h5 {
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.simon-img {
    height: 175px;
    margin: auto;
    border-radius: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--bg-color);
}

.simon-box {
    display: flex;
    flex-direction: column;

}

/* ----------------------------------------------------- */

.entertaiment-img {
    height: 200px;
    background-image: url(../images/entertainment.jpg);
    background-size: cover;
    background-position: center;
}


.entertainment-content {
    display: flex;
    flex-direction: column;
 
}

.entertainment-button {
    font-size: 20px;
    width: 146px;
    height: 45px;
    align-self: flex-end;
}

h2 {
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    color: var(--accent-color);
    font-weight: 400;

}
/* ----------------------------------------------------- */

footer {
    height: 100px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
 footer p {
     color: var(--bg-color);
     margin: 0px;
 }

 .back-to-top-box {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     grid-column: 3/4;
     justify-self: right;
     padding-right: 20px;
 }

.follow-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    
}

.back-to-top-box i {
    font-size: 22px;
    color: var(--accent-color);
}

.follow-box i {
    font-size: 25px;
}

/* ===============================
              TABLET             
================================== */

@media only screen and (min-width: 768px) {

    [class*='container'] {
        padding: 80px;
    }

    p {
        font-size: 18px;
    }

    h2 {
        font-size: 40px;
    }

    h4 {
        font-size: 32px;
    }

    /* making a vertical nav */
    header {
        flex-direction: row;
        justify-content: space-between;
        height: 75px;
    }

    nav {
        height: auto;
        padding: 0;
        flex-direction: row;
        width: 200px;
        justify-content: space-between;
        align-items: flex-end;

    }

    .hero-container h1 {
        font-size: 71px;
    }

    .hero-container p {
        font-size: 24px;
        font-weight: 400;
    }

    /* placing activities in a row */
    .activities {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .get-started {
        width: 300px;
        height: 65px;
        font-size: 38px;
    }

    /* making the img larger */
    .discover-img {
        height: 277px;
    }

    button.learn-more {
        height: 45px;
        width: 230px;
        font-size: 27px;
    }

    .sa-container {
        flex-direction: row;
    }

    .sa-container p {
        font-size: 24px;
    }

    .simon-box {
        padding-right: 52px;
        justify-content: flex-start;
    }

    .entertainment-button {
        height: 45px;
        width: 230px;
        font-size: 27px;
    }


}



/* ===============================
              DESKTOP             
================================== */

@media only screen and (min-width: 1200px) {

    header {
        padding-left: 140px;
        padding-right: 140px;
    }


    [class*='container'] {
        padding: 140px;
    }
    .hero-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .hero-content {
        max-width: 536px;
        padding-right: 40px;
        justify-content: space-around;
    }

    .discover-img {
        max-width: 100%;
        height: auto;
        
    }

    /* justify button to the left */
    .get-started {
        align-self: flex-start;
    }

    .discover-ac {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 83px 140px 83px 140px;
    }

    .school-img {
        height: 337px;
        width: 1702px;
    }

    .ac-content {
        padding: 0 0 0 40px;
    }

    body .sa-container {
        padding-top: 58px;
        padding-bottom: 58px;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

/* aligning heading and img in a row */

    .simon-img {
        margin: 0;
    }

    .simon-box {
        flex-direction: row;
    }

    .sa-container h5 {
        padding-left: 90px;
        flex-grow: 2;
        
    }

    .simon-box {
        padding-right: 90px;
    }



    .discover-entertainment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 83px 140px 83px 140px;
    }

    .entertainment-content {
        padding: 0 40px 0 0;
        order: -111;
    }

    .entertaiment-img {
        height: 337px;
        width: 2000px;
    }

}

/* ===========================
==============================
        Contact Page
==============================
==============================*/

/* making nav button of current page bold */
.nav-contact {
    font-weight: 600;
}

.nav-home {
    font-weight: 400;
}

.nav-about {
    font-weight: 400;
}

.contact-container h1 {
    font-size: 50px;
}

.contact-container p {
    font-size: 20px;
}

.contact-img {
    height: 250px;
    width: auto;
    background-image: url(../images/contact-img.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 20px;
}

.contact-form {
    background-color: var(--accent-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    .contact-form>* {
        margin: 5px 0px;
    }

    .contact-form h6 {
        color: var(--bg-color);
        font-size: 40px;
    }

    .contact-form input {
        height: 40px;
        border: none;
        appearance: none;
        background: #f4f4f5;
        padding: 12px;
        border-radius: 30px;
        font-size: 16px;
    }

    .contact-form label {
        font-size: 18px;
        
        padding-top: 6px;
        color: var(--bg-color);
    }
    
    input::placeholder {
        font-family: raleway;
    }

    .contact-form button {
        width: 100%;
        height: 50px;
        font-size: 32px;
        background-color: var(--primary-color);
        margin-top: 18px;
    }

    input.message-box {
        height: 100px;
        border-radius: 10px;
    }

    .location-container {
        background-color: white;
    }

    .location-container h1 {
        font-size: 40px;
    }

    .location-container h4 {
        color: var(--primary-color);
    }

    .location-map {
        margin: auto;
        width: 100%;
    }
    iframe {
        width: 100%;
    }

    /* ===============================
              Tablet             
================================== */

@media only screen and (min-width: 768px) {

    [class*='container'] {
        padding: 80px;
    }
.contact-container h1 {
    font-size: 72px;
}

.contact-container p {
    font-size: 24px;
}

.contact-form h6 {
    font-size: 72px;
}

.contact-form {
    padding: 46px;
}

.contact-form label {
    font-size: 24px;
}

.contact-form button{
    width: 210px;
    align-self: flex-end;
}

.location-container h1 {
    font-size: 72px;
}

.location-container h4 {
    font-size: 40px;
}

.location-container {
    padding-top: 0;
}

}

    /* ===============================
              Desktop             
================================== */

@media only screen and (min-width: 1200px) {

    [class*='container'] {
        padding: 140px;
    }

    .contact-container {
        display: flex;
        flex-direction: row;
    }

    .contact-form {
        width: 800px;
        margin-left: 100px;
    }

    .contact-img {
        height: 600px;
        width: 100%;

    }

    /* .contact-content {
        padding-right: 100px;
    } */

    .location-container {
        padding-top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .location-map {
        width: 50%;
        align-self: flex-end;

}

}

/* ===========================
==============================
        About page
==============================
==============================*/

.nav-contact {
    font-weight: 400;
}

.nav-home {
    font-weight: 400;
}

.nav-about {
    font-weight: 600;
}

.construction-content h1 {
    font-size: 40px;
}

.construction-content p {
    font-size: 20px;
}

.construction-container {
    display: flex;
    flex-direction: column;
}

.about-banner {
    height: 200px;
    
    background-image: url(../images/about.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-banner h1 {
    color: white;
    font-size: 50px;
}

.who,
.what,
.where {
    padding-top: 20px;
}

.services-banner {
    height: 200px;
    background: url(../images/services.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-banner h1{
    color: white;
    font-size: 50px;
}

.bowling-container,
.rock-container {
    background-color: var(--bg-color);
}
.bowling-container,
.fitness-container,
.restaurant-container,
.rock-container,
.newsletter-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.newsletter-container {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newsletter-container p {
    color: var(--bg-color);
    font-size: 18px;
}

.newsletter-container button {
    width: 140px;
    font-size: 20px;

}

.thank-you-container h1 {
    font-size: 56px;
    text-align: center;
    padding-bottom: 35px;
    
}

/* stack logos in column */
.logo-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* making height adjustments */
.sa-logo {
    width: 300px;
    padding-bottom: 18px;
}

.algonquin-logo {
    width: 100px;
    padding-bottom: 18px;
}

.pcl-logo {
    width: 200px;
}

.cibc-logo {
    width: 156px;
    height: 138px;
}

.pcl-logo,
.cibc-logo {
    margin-bottom: 48px;
}

  /* ===============================
              Tablet             
================================== */

@media only screen and (min-width: 768px) {

    [class*='container'] {
        padding: 80px;
    }

.about-page h1 {
    font-size: 40px;
}

.construction-content h1 {
    font-size: 72px;
    margin-bottom: 35px;
}

.construction-content p {
    font-size: 24px;
    justify-content: center;
    margin-bottom: 35px;

}

.about-banner h1,
.services-banner h1 {
    font-size: 56px;
}

.newsletter-container {
    padding-bottom: 2px;
    padding-top: 2px;
    flex-direction: row;
}

.newsletter-container button {
    margin-left: 60px;
    font-size: 24px;
    width: 140px;
}

.newsletter-container p {
    font-size: 24px;
    font-weight: 400;
}

.bowling-container,
.restaurant-container,
.fitness-container,
.rock-container {
    display: flex;
    flex-direction: row;

}

.restaurant-img {
    background-image: url(../images/bar.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    margin-right: 20px;
    
}

.bowling-content,
.restaurant-content,
.fitness-content,
.rock-content {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.bowling-img {
    background-image: url(../images/bowling.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    margin-left: 20px;
}

.fitness-img {
    background-image: url(../images/fitness.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    margin-right: 20px;
}

.rock-img {
    background-image: url(midterm/images/climbing.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    margin-left: 20px;
}

.thank-you-container h1 {
    font-size: 56px;
}

    /* ===============================
              Desktop             
================================== */

@media only screen and (min-width: 1200px) {

    [class*='container'] {
        padding: 140px;
    }

.construction-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.construction-content {
    width: 50%;
}

.construction-img {
    width: 50%;
    margin-left: 20px;
    
}

.construction-img img{
    width: 100%;
}

.who,
.what,
.where {
    width: 33%;
}

.who,
.what {
    margin-right: 78px;
}

.about-container {
    display: flex;
}

.newsletter-container {
    padding-top: 27px;
    padding-bottom: 27px;
}

.newsletter-container p {
    font-size: 40px;

}

.newsletter-container button{
    font-size: 27px;
    width: 232px;
    height: 45px;

}

.logo-box h1 {
    width: 625px;
    
}
.logo-box {
    flex-direction: row;
    align-items: center;
}

.pcl-logo,
.cibc-logo,
.algonquin-logo,
.sa-logo {
    padding: 0;
    margin: 0;
}

}
 
}



    



