body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
header,
footer{
    background-color: salmon;
}
.site-title {
    color: powderblue;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
} 
.square-bullet {
    list-style: square;
}
nav ul a {
    text-decoration: none;
    color: teal;
    background-color: gold;
    border: 1px solid hotpink;
}
.nav-style {
    list-style: none;
}

article ul li:nth-child(odd) {
    background-color: plum;

}

nav ul a:hover,
nav ul a:focus{
    background: lavenderblush;

}